body {
    font-family: Freemono, monospace;
    color: #222222;
}

table {
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #222222;
    border-radius: 10px;
}

td {
    width: 14em;
    height: 14em;
}

.lit {
    box-shadow: 2px 2px 0 0 #ffffff60 inset, -2px -2px 0 0 #00000060 inset
}

#red { background-color: #852d2d; }
#red.lit { background-color: #ff5757; }

#yellow { background-color: #9aad2e; }
#yellow.lit { background-color: #fffc37; }

#green { background-color: #2f7022; }
#green.lit { background-color: #32f85d; }

#blue { background-color: #2d626b; }
#blue.lit { background-color: #35d7ff; }