body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    background-color: var(--primary1);
    color: var(--secondary1);

    margin: 0;
    padding: 0;

    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    transition: 500ms ease;
    transition-property: background-color, color;
}

body.darkMode {
    background-color: var(--secondary1);
    color: var(--primary1);
}

.canvas {
    background-color: #e4eaee;
    border: 2px solid #000000;
    width: 90vh;
    height: 90vh;
}