:root {
    --dark: #F7F7F7;
    --light: #13131A;
}

body {
    color: var(--dark);
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;

    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.25em;
    animation: spin 1s ease-in-out infinite alternate;
}

@keyframes spin {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg)
    }
}