/* Colors */
:root {
    --primary1: #eff3f5;
    --primary2: #1e1e27;

    --primary-color: #f5dd0a;

    --white:    #f2f4fa;
    --red:      #ee3232;
    --orange:   #f7801e;
    --yellow:   #f7e011;
    --lime:     #b1fa3b;
    --green:    #00ff4c;
    --cyan:     #46f9ff;
    --blue:     #496aff;
    --purple:   #b639ff;
    --magenta:  #ee28bc;
    --pink:     #ff97bf;
}
