body {
    color: #222222;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;

    margin: 0;

    background-color: #292c38;
}


#page-content {
    margin: 0 !important;
    display: flex;


    align-items: center;
    justify-content: center;
    align-content: center;
}

#sky-box {
    margin: auto;
}

#sky {
    max-width: 99vw;
    max-height: 99vh;
}

#nosnow {
    position: absolute;
    color: #cfd2df;
}