body {
    color: #222222;
    font-family: FreeMono, monospace;
    font-weight: 300;
}
html, body { height: 100%; }

#page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 !important;
}


body.grow {
    transition: 100s linear;
    background-color: red;
}

#container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#p {
    font-size: 2px;
    cursor: pointer;
    transition: 0.1s all ease-in;

    font-family: Arial, sans-serif;
}

#p.grow { animation: grow 200s ease-in 1 forwards, shake 0.1s ease-in 2000 alternate-reverse }

@keyframes grow { 0% { font-size: 2px; } 100% { font-size: 2000px; } }

@keyframes shake { 0% { transform: rotate(-1deg); }  100% { transform: rotate(1deg); } }